p,input {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
}
h5 {
    font-weight: 100;
}
#functionDisplayed {
    font-style: italic;
    font-weight: 800;
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
}

#derivative, #pointDerivativeDone {
    font-weight: 100;
}

span {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 1.2rem;

}